<md-toolbar class="md-primary md-hue-2">
  <div class="md-toolbar-tools">
    <h1 class="md-flex">Géolocalisation d'adresse fiscale</h1>
  </div>
</md-toolbar>
<div layout="row" layout-align="center center">
  <md-content flex layout-padding class="main-content">
    <div layout="column">
      <section class="content-section md-whiteframe-z1">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">Informations fiscales</h2>
          </div>
        </md-toolbar>
        <md-content layout-padding>
          <form>
            <div layout="column">
              <div flex>
                <div layout="row">
                  <div flex=30>
                    <div layout layout-sm="column">
                      <md-input-container flex>
                        <label>Numéro fiscal</label>
                        <input ng-model="numeroFiscal">
                      </md-input-container>
                    </div>
                  </div>
                  <div flex=30 flex-offset="20">
                    <div layout layout-sm="column">
                      <md-input-container flex>
                        <label>Référence d'avis</label>
                        <input ng-model="referenceAvis">
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
              <div flex>
                <md-button
                  class="md-raised md-primary"
                  ng-click="adress.getAdresses(numeroFiscal, referenceAvis)">
                  Récupérer l'adresse
                </md-button>
              </div>
            </div>
          </form>
        </md-content>
        <md-progress-linear md-mode="indeterminate" ng-show="adress.requestPending"></md-progress-linear>
      </section>
      <section class="content-section md-whiteframe-z1" ng-if="adress.adresses">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">Adresses</h2>
          </div>
        </md-toolbar>
        <md-content>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Foyer Fiscal</label>
              <input ng-model="adress.foyerFiscal" disabled="disabled">
            </md-input-container>
          </div>
          <div layout="row">
            <div flex=70>
              <leaflet markers="adress.lfMarkers" center="adress.lfCenter"  ></leaflet>
            </div>
            <div flex="30">
                <md-list>
                  <md-list-item
                    ng-repeat="item in adress.adresses"
                    class="adress-item"
                    ng-click="adress.centerOnAdress($index)"
                    ng-class="{active: item.active}">
                    <i class="fa fa-map-marker fa-2x md-avatar" ></i>
                    <div class="md-list-item-text" layout="column">
                      <p>{{ item.adresse.name }}</p>
                      <p>{{ item.adresse.postcode }}, {{ item.adresse.city }}</p>
                    </div>
                  </md-list-item>
                </md-list>

            </div>
          </div>


        </md-content>
      </section>
      <section class="content-section md-whiteframe-z1" ng-show="adress.declarant1.nom">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">Informations personnelles</h2>
          </div>
        </md-toolbar>
        <md-content>
          <md-list>
            <md-list-item class="md-3-line">
              <div class="md-list-item-text" layout="column">
                <h3>{{ adress.declarant1.nom }} {{ adress.declarant1.prenoms }}</h3>
                <p>{{ adress.declarant1.dateNaissance }}</p>
              </div>
            </md-list-item>
            <md-list-item class="md-3-line" ng-show="adress.declarant2.nom">
              <div class="md-list-item-text" layout="column">
                <h3>{{ adress.declarant2.nom }} {{ adress.declarant2.prenoms }}</h3>
                <p>{{ adress.declarant2.dateNaissance }}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </section>

    </div>
  </md-content>
</div>
